.PetThumb {
  box-shadow: 0 1px 4px rgba(0,0,0,.5);
  overflow: hidden;
  border-radius: 1em;
  margin: 2em;
}
.PetThumb img {
  display: block;
  width: 100%;
}
.PetThumb:hover {
  border: 0.25em solid white;
}
